/* ===== Colors =-==== */
$background: #0067B3;

$gradient--background-1: linear-gradient(132.25deg, #F26419 -5.29%, #F95E42 51.72%, #FF5964 100%);
$gradient--background-2: linear-gradient(136.59deg, #005780 18.41%, #001A26 100%);
$gradient--background-3: linear-gradient(135deg, #9A4DFF 0%, #00D7F5 100%);
$gradient--background-4: linear-gradient(135deg, #009874 0%, #003327 100%);
$gradient--background-5: linear-gradient(135deg, #9D202F 0%, #380B11 100%);
$gradient--background-6: linear-gradient(132.25deg, #FDCD25 -5.29%, #EC6277 100%);
$gradient--background-7: linear-gradient(135deg, #00BECB 0%, #006198 88.02%);
$gradient--background-8: linear-gradient(135deg, #2663FF 0%, #00DCFF 100%);
$gradient--background-9: linear-gradient(132.25deg, #00DCFF -5.29%, #00FF9D 100%);
$gradient--background-10: linear-gradient(135deg, #EA3C51 0%, #F42B2B 100%);
$gradient--background-11: linear-gradient(135deg, rgba(0, 190, 203, 0.25) 0%, rgba(0, 97, 152, 0.25) 88.02%);

$text-primary-color: #fff;
$text-secondary-color: #8099a5;
$text-muted-color: #6c757d;
$text-success-color: #009874;
$text-danger-color: #9d202f;
$text-warning-color: #fdcd25;
$text-info-color: #005780;



$navbar--background: rgba(0, 104, 179, 0.9);
