<div class="cni-back-page">
  <a routerLink="/">
    <i class="bi bi-box-arrow-in-left"></i>
    <span>Back to home</span>
  </a>
</div>
<div class="cni-tutorials-add">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group mb-2">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="tutorial.title"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="tutorial.description"
          name="description"
        />
      </div>

      <button (click)="saveTutorial()" class="cni-tutorials-add__button-submit">
        Submit
      </button>
    </div>

    <div *ngIf="submitted">
      <h4>Tutorial was submitted successfully!</h4>
      <button
        class="cni-tutorials-add__button-add-new-tutorial"
        (click)="newTutorial()"
      >
        Add new tutorial
      </button>
    </div>
  </div>
</div>
