<div class="cni-tutorials">
  <div>
    <div class="cni-tutorials__search">
      <div>
        <button class="btn" (click)="searchTitle()">
          <i class="bi bi-search text-dark"></i>
        </button>
      </div>
      <div class="cni-tutorials__search-input">
        <input
          type="text"
          placeholder="Search by title"
          (keyup.enter)="searchTitle()"
          [(ngModel)]="title"
        />
      </div>
    </div>

    <div>
      <h4>Tutorials List</h4>
      <div class="accordion accordion-flush" id="accordionTutorialList">
        <ul class="cni-tutorials__list-tutorials-box" *ngIf="loadingItem">
          <li class="cni-tutorials__list-tutorials-box-item">Loding...</li>
        </ul>
        <div *ngIf="!loadingItem">
          <div
            class="accordion-item"
            *ngFor="let tutorial of tutorials; let i = index"
            [class.active]="i == currentIndex"
            (click)="setActiveTutorial(tutorial, i)"
          >
            <h2 class="accordion-header cni-break-word" [id]="tutorial.id">
              <button
                class="accordion-button collapsed cni-break-word"
                type="button"
                data-bs-toggle="collapse"
                [attr.data-bs-target]="'#flush-' + tutorial.id"
                aria-expanded="false"
                [attr.aria-controls]="'flush-' + tutorial.id"
              >
                {{ tutorial.title }}
              </button>
            </h2>
            <div
              [id]="'flush-' + tutorial.id"
              class="accordion-collapse collapse"
              [attr.aria-labelledby]="tutorial.id"
              data-bs-parent="#accordionTutorialList"
            >
              <div class="accordion-body">
                <div *ngIf="currentTutorial.id" class="cni-tutorials-details">
                  <div class="cni-tutorials-details__list">
                    <h4>Tutorial Details</h4>
                    <div class="cni-break-word">
                      <label><strong>Title:</strong></label>
                      {{ currentTutorial.title }}
                    </div>
                    <div class="cni-break-word">
                      <label><strong>Description:</strong></label>
                      {{ currentTutorial.description }}
                    </div>
                    <div class="cni-break-word">
                      <label><strong>Status:</strong></label>
                      {{ currentTutorial.published ? "Published" : "Pending" }}
                    </div>
                  </div>
                  <a
                    class="cni-tutorials-details__button-edit"
                    routerLink="/tutorials/{{ currentTutorial.id }}"
                  >
                    Edit Tutorial
                  </a>
                </div>

                <div *ngIf="!currentTutorial">
                  <br />
                  <p>Please click on a Tutorial...</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        *ngIf="tutorials?.length && tutorials.length > 6"
        class="cni-tutorials__button-remove"
        (click)="removeAllTutorials()"
      >
        Remove All
      </button>
    </div>
  </div>
</div>
