@import "../../../assets/scss/theme.scss";
@import "../../../assets/scss/variables.scss";
@import "../../../assets/scss/mixins.scss";

.cni-tutorials {
  position: relative;

  padding-top: 4vh;

  &__search {
    position: relative;

    display: flex;
    align-items: center;

    background-color: #fff;
    border: 1px solid #000;
    border-radius: 12px;

    margin-bottom: $margin-bottom--3;

    @include for-phone-only {}

    &-input {
      width: 100%;

      input {
        border: none;

        width: 100%;
        font-size: 20px;
        border-radius: 12px;

        &:focus-visible {
          outline: none;
        }
      }
    }
  }

  &__list {
    position: relative;
    display: flex;

    @include for-phone-only {
      flex-direction: column;
    }

    &-tutorials {
      width: 50%;

      margin-right: 2vw;

      @include for-phone-only {
        width: 100%;
        margin-bottom: $margin-bottom--2;
      }

      &-box {
        position: relative;
        padding: 0;
        margin: 0;

        &-item {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          cursor: pointer;

          background-color: #fff;
          height: 52px;
          padding: 16px 20px;
          margin-bottom: $margin-bottom--1;

          span{
            text-decoration: underline;
          }
        }
      }
    }

    &-tutorials-details {
      position: sticky;
      top: 76px;
      height: 100%;
      width: 50%;

      @include for-phone-only {
        width: 100%;
        margin-bottom: $margin-bottom--2;
      }
    }
  }

  &__button-remove {
    @include button-primary($gradient--background-10, #F42B2B);

    font-weight: 700;
    font-size: 20px;

    padding: 8px 16px;
    margin-top: $margin-top--2;
  }
}
.cni-tutorials-details {
  &__list {
    display: block;

    margin-bottom: $margin-bottom--2;
  }

  &__button-edit {
    @include button-primary($gradient--background-4, #009874, $shadow: 0px 1px 15px rgba(0, 152, 116, 0.6));

    font-weight: 700;
    font-size: 20px;

    padding: 8px 16px;
  }
}
